<div class='col-sm-12 d-flex justify-content-center align-items-left flex-column'>
    <h1>Company Stock Listings</h1>
    <h6>Total listings: <%=Stock.count%></h6>
    <table class="table table-striped table-sm" width=60%>
        <thead>
            <tr><th>Symbol</th><th>Company Name</th><th></th></tr>
        </thead>
        <tbody>
            <% for each in Stock.order(:symbol) %>
                <tr>
                    <td><a href="/stocks/<%=each.id%>"><%=each.symbol%></a></td>
                    <td><a href="/stocks/<%=each.id%>"><%=each.co_name%></a></td>
                    <td><a href="/stocks/<%=each.id%>/delete">[remove]</a></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>