<% require "net/http" %>
<% require "uri" %>
<% stock = Stock.find_by(id:params["id"]) %>
<% stock_price_url = URI.parse("https://api.iextrading.com/1.0/stock/"+stock.symbol+"/price") %>
<% response = Net::HTTP.get_response(stock_price_url) %>
<div class='col-sm-12 d-flex justify-content-center align-items-left flex-column'>
    <h1><%=stock.symbol%> Details</h1>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Symbol</th><th>Company Name</th><th>Last price</th><th>Exchange</th><th>IPO Year</th><th>Sector</th><th>Industry</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><%=stock.symbol%></td>
                    <td><%=stock.co_name%></td>
                    <td>$<%= response.body.to_d.round(2)%></td>
                    <td><%=stock.exchange.upcase%></td>
                    <td><%=stock.ipo_year%></td>
                    <td><%=stock.sector%></td>
                    <td><%=stock.industry%></td>
                </tr>
        </tbody>
    </table>
    <p> For current information on <%=stock.symbol.upcase%>, please visit <a href="<%=stock.website%>" target='_blank'>Nasdaq's website</a>.</p>
</div>