<div class='col-sm-12 d-flex justify-content-left align-items-left flex-column'>
    <h1>Welcome to Our Bookstore!</h1> 
    <table width=40% class="table table-striped table-sm">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <% for book in Book.all %>
                <tr>
                    <td><a href="/books/<%=book.id%>"><img src="<%=book.photo_url%>" width=25></a></td>
                    <td><a href="/books/<%=book.id%>"><%= book.title %></a></td>
                    <td><a href="/books/<%=book.id%>/delete"> [remove]</a></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>


