<%userid = session["user_id"]%>

<div class='col-sm-12 d-flex justify-content-center align-items-left flex-column'>
  <h1>Kellogg courses</h1>
  <!--<h6>Total number of courses: <%=Course.count%></h6>
  <h6>Filter by Course code or name:</h6><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for courses.." title="Type in a course code or name">-->
  <table id="test1" class="table table-striped table-sm">
    <thead>
      <tr><th>Course code</th><th>Course name</th><th>Course</th><th>Learning</th><th>Difficulty</th><th>Global</th><th>Examples</th><th>Workload</th>
      <%if userid != nil %>
        <%if User.find_by(id: userid).user_type == 1 %>
          <th></th>
        <%end%>
      <%end%>
      </tr>
    </thead>
    <tbody>
      <% for each in Course.all %>
        <tr>
          <td><a href="/courses/<%=each.id%>"><%=each.code_id%></a></td>
          <td><a href="/courses/<%=each.id%>"><%=each.name%></a></td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:course_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:learning_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:difficult_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:global_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:examples_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <td>
            <% tmp_score = Coursesession.where(course_id: each.id).average(:workload_score) %>
            <% if tmp_score.nil? %>
              N/A
            <% else %>
              <%= tmp_score.round(1) %>
            <% end %>
          </td>
          <%if userid != nil %>
            <%if User.find_by(id: userid).user_type == 1 %>
              <td><a href="/courses/<%=each.id%>/delete">[remove]</a></td>
            <%end%>
          <% end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>