<div class='col-sm-12 d-flex justify-content-center align-items-left flex-column'>
    <h1>Kellogg course listings</h1>
    <h6>Total listings: <%=Course.count%></h6>
    <table class="table table-striped table-sm" width=60%>
        <thead>
            <tr><th>Course code</th><th>Course name</th><th>Faculty</th><th>Credit</th><th></th></tr>
        </thead>
        <tbody>
            <% for each in Course.order(:code_id) %>
                <tr>
                    <td><a href="/courses/<%=each.id%>"><%=each.code_id%></a></td>
                    <td><a href="/courses/<%=each.id%>"><%=each.name%></a></td>
                    <td><%=each.discipline%></td>
                    <td><%=each.credit%></td>
                    <td><a href="/courses/<%=each.id%>/delete">[remove]</a></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>